.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-block: 10px;
    z-index: 100;
}

.footer__author {
    font-size: 11px;
    text-align: center;
}

.footer__author a {
    text-decoration: none;
    color: var(--color-success);
}